:root {
  --primary-color: #7acbb5;
  --secondary-color: rgb(49, 49, 49);
  --fontMain: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Landmark elements */
body {
  font-family: var(--fontMain);
  color: var(--secondary-color);
}

header,
footer {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

header {
  padding: 1rem;
}

main {
  padding: 1rem;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 0.5rem 1.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Non-landmark elements */

label {
  display: inline-block;
  width: 4rem;
}

form {
  margin-bottom: 1rem;
}

form > div {
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-color);
}

table {
  border-collapse: collapse;
}

th,
td {
  border: thin solid var(--secondary-color);
  padding: 0.25rem 0.5rem;
}

thead {
  text-align: left;
  background-color: var(--primary-color);
}

.show {
  display: block;
}

.hide {
  display: none;
}
